[submodule "sensor_data_analyzer/lib"]
	path = sensor_data_analyzer/lib
	url = ../sw_algorithms_lib.git
	
[submodule "sensor_simulator/lib"]
	path = sensor_simulator/lib
	url = ../sw_algorithms_lib.git
