*.f11*
*.f37
*.EEPROM
*.pyc
analysis/build
sw_update/target
sw_update/stm32f407_1m/target
sw_update/stm32f407_1m-806/target
sw_update/stm32h743_1m/target
.idea/*
flight_player/.vscode/*
flight_player/.venv
flight_player/sensor_config.ini
*language.settings.xml
.settings
